

<article>
    <h2>Welcome!</h2>
    <label>Company Name</label> : {{Company}} <br/>
        <label>Project Name</label> : {{title}}<br/>
        <label>Description</label> : {{desc}}<br/>
        <label>Position</label> : {{position}}<br/>
        <label>Technologies</label> : {{technologies}}<br/>
        <label>StartDate</label> : {{startDate}}<br/>
        <label>End Date</label> : {{endDate}}<br/>
        <label>Hours</label> : {{hours}}<br/>

    <a href="/Apply" class="btn btn-default">Apply</a>
    
</article>